%%
%% etc/app.config
%%
{ring_state_dir, "data/ring"}.
{web_ip,         "127.0.0.1"}.
{web_port,       "8098"}.
{handoff_port,   "8099"}.

%% alum config
{alum_content_dir,  "data/content"}.
{alum_web_ip,       "127.0.0.1"}.
{alum_api_ip,       "127.0.0.1"}.
{alum_web_port,     "8080"}.
{alum_api_port,     "9090"}.

%%
%% etc/vm.args
%%
{node,   "alum@127.0.0.1"}.
{cookie, "alum"}.
